body {
    background-color: #fbf9f8;
    color: #262626;
    font-family: 'Karla', sans-serif;
}

#main-header {
    display: flex;
    /* font-family: 'Alfa Slab One', cursive; */
    font-size: 40px;
    justify-content: center;
}

/* a:hover {
    text-decoration: underline;
  } */

#navLinks {
    background-color: #fbf9f8;
    color: #262626;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 20px;
    font-size: 14px;
    text-decoration: none;
}

#aboutMe, #whyCoding {
    background-color: gainsboro;
    border: 2px solid gainsboro;
    border-radius: 10px;
    display: inline-block;
    font-size: 15px;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

#learnedThings {
    background-color: gainsboro;
    border: 2px solid gainsboro;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 14px;
    list-style-type: none;
    margin: 10px;
    padding: 20px;
}

#learnedThings li:before { 
    content: "- ";
}

#footerLinks {
    background-color: #fbf9f8;
    color: #262626;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 20px;
    font-size: 14px;
    text-decoration: none;
}

.footer-links {
    text-decoration: none;
    color: #262626;
}

#projectsPage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#card {
    text-align: center;
    background-color: gainsboro;
    border: 2px solid gainsboro;
    border-radius: 10px;
    font-size: 14px;
    margin: 10px;
    padding: 20px;
    /* width: 480px; */
}

#card h3 {
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 4px;
}
